.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;

    // for scrolling
    z-index: 0;

    .title {
        margin-bottom: 15px;
    }

    .chartGrid {
        stroke: lightgray;
    }

}