.dataTable {
    padding: 20px;
    height: 90vh;

    .datatableTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;

        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgba(0, 128, 0, 0.242);
            }
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.100);
        }
        &.pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.100);
        }
        &.passive {
            color: red;
            background-color: rgba(255, 0, 0, 0.100);
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.490);
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgba(0, 0, 139, 0.350);
            }
        }
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.490);
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgba(255, 0, 0, 0.350);
            }
        }
    }
}